@charset "utf-8";
/* https://www.cssscript.com/beautiful-multi-level-context-contextmenu-with-pure-javascript-and-css3/ */

.contextmenu {
	position: absolute;
	width: 200px;
	padding: 2px;
	margin: 0;
	border: 1px solid #bbb;
	background: #eee;
	background: #e5e5e5 100%;
	background: #e5e5e5 100%;
	z-index: 100;
	border-radius: 3px;
	box-shadow: 1px 1px 4px rgba(0,0,0,.2);
	opacity: 0;
	-webkit-transform: translate(0, 15px) scale(.95);
	transform: translate(0, 15px) scale(.95);
	transition: transform 0.1s ease-out, opacity 0.1s ease-out;
	pointer-events: none;
  }
  .contextmenu-item {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	white-space: nowrap;
  }
  .contextmenu-btn {
	background: none;
	line-height: normal;
	overflow: visible;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: block;
	width: 100%;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	text-align: left;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 2px 1px;
	border-radius: 3px;
  }
   .contextmenu-btn::-moz-focus-inner, .contextmenu-btn::-moz-focus-inner {
   border: 0;
   padding: 0;
  }
  .contextmenu-text { margin-left: 25px; }
  .contextmenu-btn .fa {
	position: absolute;
	left: 8px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  .contextmenu-item:hover > .contextmenu-btn {
	color: #fff;
	outline: none;
	background-color: #2E3940;
	background: #2E3940;
	background: #2E3940;
	border: 1px solid #2E3940;
  }
  .contextmenu-item.disabled {
	opacity: .5;
	pointer-events: none;
  }
  .contextmenu-item.disabled .contextmenu-btn { cursor: default; }
  .contextmenu-separator {
	display: block;
	margin: 7px 5px;
	height: 1px;
	border-bottom: 1px solid #fff;
	background-color: #aaa;
  }
  .contextmenu-item.sub-contextmenu::after {
	content: "";
	position: absolute;
	right: 6px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 5px solid transparent;
	border-left-color: #808080;
  }
  .contextmenu-item.sub-contextmenu:hover::after { border-left-color: #fff; }
  .contextmenu .contextmenu {
	top: 4px;
	left: 99%;
  }
  .show-contextmenu, .contextmenu-item:hover > .contextmenu {
	opacity: 1;
	-webkit-transform: translate(0, 0) scale(1);
	transform: translate(0, 0) scale(1);
	pointer-events: auto;
  }
  .contextmenu-item:hover > .contextmenu {
	-webkit-transition-delay: 30ms;
	transition-delay: 100ms;
  }