#include <windows.h>

//ICON
IDI_ICON1 ICON DISCARDABLE "deploy/win/vecterion_icon.ico"

1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904E4"
		BEGIN
			VALUE "InternalName",		"vecterion_vge"
			VALUE "OriginalFilename", 	"vecterion_vge.exe"
			VALUE "ProductName",		"vecterion_vge"
			VALUE "ProductVersion",		"0.0.0.1"
			VALUE "FileVersion",		"0.0.0.1"
			VALUE "CompanyName",		"project daisy bell"
			VALUE "LegalCopyright",		"Michinari.Nukazawa"
			VALUE "FileDescription", "Vecterion, the true vector graphics editor for linux (and other)."
		END
	END
END
